{% extends "dashboard/include/layout.html" %}

{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block extrastyle %}
  <link href="{% static 'plugins/toastr/toastr.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block sidebar %}
  {% include "dashboard/include/sidebar.html" with active='Affiliates' %}
{% endblock %}

{% block content-header %}
  {% include "dashboard/include/content-header.html" with header='Affiliates' %}
{% endblock %}

{% block content %}
  <div class="text-right">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-new-user">Create New User</button>
  </div>
  <br>
  <div class="modal fade" id="modal-new-user">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form method="post" role="form">{% csrf_token %}
          <div class="modal-header">
            <h4 class="modal-title">New User</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name">
            </div>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name">
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  {% if users %}
    <div class="card">
      <!-- /.card-header -->
      <div class="card-body">
        <div class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12">
              <table id="users-table" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Last Active</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                  <tr>
                    <td>{{ user.get_full_name|default:"No Name" }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.date_joined|timesince }}</td>
                    <td><a href="{% url 'profiles:user-delete' user.id %}" onclick="return confirm('Are you sure?');"
                           class="btn btn-block btn-danger">Delete</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  {% endif %}
{% endblock content %}

{% block sub_extra_script %}
  <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
  <script>
    $(function () {
      $('#users-table').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
      });
    });
  </script>

  {% for message in messages %}
    {% if message.tags == "info" %}
        <script> toastr.info('{{message}}')</script>
    {% elif message.tags == "error" %}
        <script> toastr.error('{{message}}')</script>
    {% elif message.tags == "warning" %}
        <script> toastr.warning('{{message}}')</script>
    {% elif message.tags == "success" %}
        <script> toastr.success('{{message}}')</script>
    {% endif %}
  {% endfor %}
{% endblock %}