{% extends "dashboard/include/layout.html" %}

{% load static %}

{% block extrastyle %}
  <link href="{% static 'plugins/toastr/toastr.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block sidebar %}
  {% include "dashboard/include/sidebar.html" with active='Affiliates' %}
{% endblock %}

{% block content-header %}
  {% include "dashboard/include/content-header.html" with header='Affiliates' %}
{% endblock %}

{% block content %}

  {% include "dashboard/include/_modal.html" %}

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Affiliates</h3>

        <div class="card-tools">
          <ul class="pagination pagination-sm float-right">
            <li class="page-item">
              <a class="create-user page-link" href="#">
                <i class="fa fa-plus"></i> New
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.card-header -->

      <div class="card-body">
        <div class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12">
              <table id="users-table" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th class="text-center" scope="col">#</th>
                  <th class="text-center" scope="col">Name</th>
                  <th class="text-center" scope="col">Email</th>
                  <th class="text-center" scope="col">Last Active</th>
                  <th class="text-center" scope="col">Type</th>
                  <th class="text-center" scope="col">Activated</th>
                  <th class="text-center" scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                  <tr>
                    <td class="text-center" scope="row">{{ forloop.counter }}</td>
                    <td class="text-center">{{ user.get_full_name|default:"No Name" }}</td>
                    <td class="text-center">{{ user.email }}</td>
                    <td class="text-center">{{ user.date_joined|timesince }}</td>
                    <td class="text-center">
                      {% if user.is_superuser %}
                        <span class="text-danger">Administrator</span>
                      {% else %}
                        <span class="text-info">Customer</span>
                      {% endif %}
                    </td>
                    <td class="text-center">
                      {% if user.is_active %}
                        <span class="badge badge-info">YES</span>
                      {% else %}
                        <span class="badge badge-danger">NO</span>
                      {% endif %}
                    </td>
                    <td class="text-center">
                      <button type="button" class="update-user btn btn-sm btn-primary" data-id="{% url 'dashboard:update-user' user.pk %}">
                        <span class="fa fa-pen"></span>
                      </button>
                      <button type="button" class="delete-user btn btn-sm btn-danger" data-id="{% url 'dashboard:delete-user' user.pk %}">
                        <span class="fa fa-trash"></span>
                      </button>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
{% endblock content %}

{% block sub_extra_script %}
  <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
  <script src="{% static 'plugins/jquery.bootstrap.modal.forms.min.js' %}"></script>
  <script>
    $(function () {
      $('#users-table').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
      });

      // Create user button
      $(".create-user").modalForm({formURL: "{% url 'dashboard:create-user' %}"});
      // Update user buttons
      $(".update-user").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
      // Delete user buttons
      $(".delete-user").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
    });
  </script>

  {% for message in messages %}
    {% if message.tags == "info" %}
        <script> toastr.info('{{message}}')</script>
    {% elif message.tags == "error" %}
        <script> toastr.error('{{message}}')</script>
    {% elif message.tags == "warning" %}
        <script> toastr.warning('{{message}}')</script>
    {% elif message.tags == "success" %}
        <script> toastr.success('{{message}}')</script>
    {% endif %}
  {% endfor %}
{% endblock %}