{% extends "dashboard/include/layout.html" %}

{% load static %}

{% block extrastyle %}
  <link href="{% static 'plugins/toastr/toastr.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block sidebar %}
{% include "dashboard/include/sidebar.html" with active='Offers' %}
{% endblock %}

{% block content-header %}
  {% include "dashboard/include/content-header.html" with header='Offers' %}
{% endblock %}

{% block content %}

  {% include "dashboard/include/_modal.html" %}

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Smart Links</h3>

      <div class="card-tools">
        <ul class="pagination pagination-sm float-right">
          <li class="page-item">
            <a class="create-offers page-link" href="#">
              <i class="fa fa-plus"></i> New
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12">
            <table id="offers-table" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th class="text-center" scope="col">#</th>
                <th class="text-center" scope="col">User</th>
                <th class="text-center" scope="col">Smart Link</th>
                <th class="text-center" scope="col">Action</th>
              </tr>
              </thead>
              <tbody>
              {% for smart_link in smart_links %}
                <tr>
                  <td class="text-center" scope="row">{{ forloop.counter }}</td>
                  <td class="text-center">{{ smart_link.customer.email }}</td>
                  <td class="text-center">
                    <a href="{{ smart_link.smart_link }}" target="_blank">{{ smart_link.smart_link }}</a>
                  </td>
                  <td class="text-center">
                    <button type="button" class="update-offers btn btn-sm btn-primary" data-id="{% url 'dashboard:update-offers' smart_link.pk %}">
                      <span class="fa fa-pen"></span>
                    </button>
                    <button type="button" class="delete-offers btn btn-sm btn-danger" data-id="{% url 'dashboard:delete-offers' smart_link.pk %}">
                      <span class="fa fa-trash"></span>
                    </button>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
</div>
{% endblock content %}

{% block sub_extra_script %}
  <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
  <script src="{% static 'plugins/jquery.bootstrap.modal.forms.min.js' %}"></script>
  <script>
    $(function () {
      $('#offers-table').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
      });

      // Create offers button
      $(".create-offers").modalForm({formURL: "{% url 'dashboard:create-offers' %}"});
      // Update offers buttons
      $(".update-offers").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
      // Delete offers buttons
      $(".delete-offers").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
    });
  </script>

  {% for message in messages %}
    {% if message.tags == "info" %}
        <script> toastr.info('{{message}}')</script>
    {% elif message.tags == "error" %}
        <script> toastr.error('{{message}}')</script>
    {% elif message.tags == "warning" %}
        <script> toastr.warning('{{message}}')</script>
    {% elif message.tags == "success" %}
        <script> toastr.success('{{message}}')</script>
    {% endif %}
  {% endfor %}
{% endblock %}