{% extends "dashboard/include/layout.html" %}

{% load static %}

{% block sidebar %}
{% include "dashboard/include/sidebar.html" with active='Payments' %}
{% endblock %}

{% block content-header %}
  {% include "dashboard/include/content-header.html" with header='Payments' %}
{% endblock %}

{% block content %}
  <div class="card" style="width: 100%;">
    <div class="card-header">
      <h3 class="card-title">Payments</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="dataTables_wrapper dt-bootstrap4">
        <table id="payments-table" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Invoice ID</th>
            <th class="text-center" scope="col">Date</th>
            <th class="text-center" scope="col">Type</th>
            <th class="text-center" scope="col">Amounts</th>
            <th class="text-center" scope="col">Status</th>
          </tr>
          </thead>
          <tbody>
          {% for payment in payments %}
            <tr>
              <td class="text-center" scope="row">{{ forloop.counter }}</td>
              <td class="text-center">{{ payment.invoice_id }}</td>
              <td class="text-center">{{ payment.payment_date }}</td>
              <td class="text-center">{{ payment.type }}</td>
              <td class="text-center">$ {{ payment.amount }}</td>
              <td class="text-center">
                <span class="badge {% if payment.status == 'paid' %}badge-info{% else %}badge-danger{% endif %}">{{ payment.status }}</span>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.card-body -->
</div>
{% endblock content %}

{% block sub_extra_script %}
  <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
  <script>
    $(function () {
      $('#payments-table').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
      });
    });
  </script>
{% endblock %}