{% extends "dashboard/include/layout.html" %}

{% load static %}

{% block sidebar %}
{% include "dashboard/include/sidebar.html" with active='Smart Links' %}
{% endblock %}

{% block content-header %}
  {% include "dashboard/include/content-header.html" with header='Smart Links' %}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Smart Links</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12">
            <table id="smart-links-table" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th class="text-center" scope="col">#</th>
                <th class="text-center" scope="col">Smart Link</th>
              </tr>
              </thead>
              <tbody>
              {% for smart_link in smart_links %}
                <tr>
                  <td class="text-center" scope="row">{{ forloop.counter }}</td>
                  <td class="text-center">
                    <a href="{{ smart_link.smart_link }}" target="_blank">{{ smart_link.smart_link }}</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
</div>
{% endblock content %}

{% block sub_extra_script %}
  <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
  <script>
    $(function () {
      $('#smart-links-table').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
      });
    });
  </script>
{% endblock %}