{% extends "dashboard/include/layout.html" %}

{% load static %}

{% block sidebar %}
{% include "dashboard/include/sidebar.html" with active='Status' %}
{% endblock %}

{% block content-header %}
  {% include "dashboard/include/content-header.html" with header='Status' %}
{% endblock %}

{% block content %}
  <div class="card" style="width: 100%;">
    <div class="card-header">
      <h3 class="card-title">Earnings</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="dataTables_wrapper dt-bootstrap4">
        <table id="earnings-table" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Date</th>
            <th class="text-center" scope="col">Hits</th>
            <th class="text-center" scope="col">Leads</th>
            <th class="text-center" scope="col">Money</th>
          </tr>
          </thead>
          <tbody>
          {% for earning in earnings %}
            <tr>
              <td class="text-center" scope="row">{{ forloop.counter }}</td>
              <td class="text-center">{{ earning.earning_date }}</td>
              <td class="text-center">{{ earning.hits }}</td>
              <td class="text-center">{{ earning.leads }}</td>
              <td class="text-center">$ {{ earning.money }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
{% endblock content %}

{% block sub_extra_script %}
  <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
  <script>
    $(function () {
      $('#earnings-table').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
      });
    });
  </script>
{% endblock %}