{% extends "dashboard/include/layout.html" %}

{% load static %}

{% block extrastyle %}
  <link href="{% static 'plugins/toastr/toastr.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'plugins/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block sidebar %}
{% include "dashboard/include/sidebar.html" with active='Support' %}
{% endblock %}

{% block content-header %}
  {% include "dashboard/include/content-header.html" with header='Support' %}
{% endblock %}

{% block content %}

  {% include "dashboard/include/_modal.html" %}

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Support managers</h3>

      <div class="card-tools">
        <ul class="pagination pagination-sm float-right">
          <li class="page-item">
            <a class="create-support-manager page-link" href="#">
              <i class="fa fa-plus"></i> New
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="support-managers row">
      {% for support in supports %}
        <div class="col-xl-4 col-lg-6 col-md-12">

          <!-- support managers -->
          <div class="support-manager">
            <div class="avatar">
              <div class="avatar-wrapper">
                <img src="{% static "img/" %}user-{{ support.avatar }}.jpg" alt="User Avatar" class="img-circle">

                <div class="action mt-2 mr-3">
                  <div class="button-group text-center">
                    <button type="button" class="update-support-manager btn btn-sm text-primary" title="Edit profile"
                            data-id="{% url 'dashboard:update-support-manager' support.pk %}">
                      <span class="fa fa-pen"></span>
                    </button>
                    <button type="button" class="delete-support-manager btn btn-sm text-danger" title="Delete"
                            data-id="{% url 'dashboard:delete-support-manager' support.pk %}">
                      <span class="fa fa-trash"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="contact-section">
              <div class="contact-info contact-name">{{ support.name }}</div>

              <div class="contact-info contact-email">
                <div class="icon text-info"><i class="icon-envelope-letter"></i></div>
                <div class="description">
                  <a href="mailto:{{ support.email|default:"" }}">{{ support.email|default:"E-mail" }}</a>
                </div>
                <div class="clearfix"></div>
              </div>

              <div class="contact-info contact-phone">
                <div class="icon text-info"><i class="icon-call-out"></i></div>
                <div class="description">
                  <a href="tell:{{ support.phone_number|default:"" }}">{{ support.phone_number|default:"Phone" }}</a>
                </div>
                <div class="clearfix"></div>
              </div>

              {% if support.skype %}
                <div class="contact-info contact-skype">
                  <div class="icon text-info"><i class="icon-social-skype"></i></div>
                  <div class="description">
                    <a href="skype:{{ support.skype|default:"" }}?call">{{ support.skype|default:"Skype" }}</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              {% endif %}

              {% if support.website %}
                <div class="contact-info contact-phone">
                  <div class="icon text-info"><i class="icon-home"></i></div>
                  <div class="description">
                    <a href="{{ support.website|default:"#" }}">{{ support.website|default:"" }}</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              {% endif %}
            </div>
          </div>
          <!-- /.support managers -->

        </div>
      {% endfor %}
      </div>
    </div>
    <!-- /.card-body -->
  </div>
{% endblock content %}

{% block sub_extra_script %}
  <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
  <script src="{% static 'plugins/jquery.bootstrap.modal.forms.min.js' %}"></script>
  <script>
    $(function () {
      // Create support manager button
      $(".create-support-manager").modalForm({formURL: "{% url 'dashboard:create-support-manager' %}"});
      // Update support manager buttons
      $(".update-support-manager").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
      // Delete support manager buttons
      $(".delete-support-manager").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
    });
  </script>

  {% for message in messages %}
    {% if message.tags == "info" %}
        <script> toastr.info('{{message}}')</script>
    {% elif message.tags == "error" %}
        <script> toastr.error('{{message}}')</script>
    {% elif message.tags == "warning" %}
        <script> toastr.warning('{{message}}')</script>
    {% elif message.tags == "success" %}
        <script> toastr.success('{{message}}')</script>
    {% endif %}
  {% endfor %}
{% endblock %}