{% extends "dashboard/include/layout.html" %}

{% load static %}

{% block sidebar %}
{% include "dashboard/include/sidebar.html" with active='Dashboard' %}
{% endblock %}

{% block content-header %}
  {% include "dashboard/include/content-header.html" with header='Dashboard' %}
{% endblock %}

{% block content %}

  {% include "dashboard/include/_modal.html" %}

  {% if customer %}
    <div class="row">
      <div class="card card-widget widget-user" style="width: 100%;">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-info">
          <h3 class="widget-user-username">{{ customer.get_full_name|default:"No Name" }}</h3>
          <h5 class="widget-user-desc">{{ customer.email }}</h5>
        </div>
        <div class="widget-user-image">
          <img class="img-circle elevation-2" src="{% static 'img/user-pic-default.png' %}" alt="User Avatar">
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">{% if earnings %}{{ earnings|length }}{% else %}0{% endif %}</h5>
                <span class="description-text">Earnings</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">{% if payments %}{{ payments|length }}{% else %}0{% endif %}</h5>
                <span class="description-text">Payments</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
              <div class="description-block">
                <h5 class="description-header">{% if smart_links %}{{ smart_links|length }}{% else %}0{% endif %}</h5>
                <span class="description-text">Smart Links</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card" style="width: 100%;">
        <div class="card-header">
          <h3 class="card-title">Balance: <strong class="text-info">$ {{ customer.get_balance|default:'0'|floatformat:2 }}</strong></h3>

          <div class="card-tools">
            <ul class="pagination pagination-sm float-right">
              <li class="page-item">
                <a class="update-balance page-link" href="#" data-id="{% url 'dashboard:update-balance' customer.balance.pk customer.pk %}">
                  <i class="fa fa-pen"></i> Edit
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /.card-header -->
      </div>
    </div>

    <div class="row">
      <div class="card" style="width: 100%;">
        <div class="card-header">
          <h3 class="card-title">Earnings</h3>

          <div class="card-tools">
            <ul class="pagination pagination-sm float-right">
              <li class="page-item">
                <a class="create-earnings page-link" href="#">
                  <i class="fa fa-plus"></i> New
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="dataTables_wrapper dt-bootstrap4">
            <table id="earnings-table" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th class="text-center" scope="col">#</th>
                <th class="text-center" scope="col">Date</th>
                <th class="text-center" scope="col">Hits</th>
                <th class="text-center" scope="col">Leads</th>
                <th class="text-center" scope="col">Money</th>
                <th class="text-center" scope="col">Action</th>
              </tr>
              </thead>
              <tbody>
              {% for earning in earnings %}
                <tr>
                  <td class="text-center" scope="row">{{ forloop.counter }}</td>
                  <td class="text-center">{{ earning.earning_date }}</td>
                  <td class="text-center">{{ earning.hits }}</td>
                  <td class="text-center">{{ earning.leads }}</td>
                  <td class="text-center">$ {{ earning.money }}</td>
                  <td class="text-center">
                    <button type="button" class="update-earnings btn btn-sm btn-primary" data-id="{% url 'dashboard:update-earning' earning.pk customer.pk %}">
                      <span class="fa fa-pen"></span>
                    </button>
                    <button type="button" class="delete-earnings btn btn-sm btn-danger" data-id="{% url 'dashboard:delete-earning' earning.pk customer.pk %}">
                      <span class="fa fa-trash"></span>
                    </button>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div>

    <div class="row">
      <div class="card" style="width: 100%;">
        <div class="card-header">
          <h3 class="card-title">Payments</h3>

          <div class="card-tools">
            <ul class="pagination pagination-sm float-right">
              <li class="page-item">
                <a class="create-payments page-link" href="#">
                  <i class="fa fa-plus"></i> New
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="dataTables_wrapper dt-bootstrap4">
            <table id="payments-table" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th class="text-center" scope="col">#</th>
                <th class="text-center" scope="col">Invoice ID</th>
                <th class="text-center" scope="col">Date</th>
                <th class="text-center" scope="col">Type</th>
                <th class="text-center" scope="col">Amounts</th>
                <th class="text-center" scope="col">Status</th>
                <th class="text-center" scope="col">Action</th>
              </tr>
              </thead>
              <tbody>
              {% for payment in payments %}
                <tr>
                  <td class="text-center" scope="row">{{ forloop.counter }}</td>
                  <td class="text-center">{{ payment.invoice_id }}</td>
                  <td class="text-center">{{ payment.payment_date }}</td>
                  <td class="text-center">{{ payment.type }}</td>
                  <td class="text-center">$ {{ payment.amount }}</td>
                  <td class="text-center">
                    <span class="badge {% if payment.status == 'paid' %}badge-info{% else %}badge-danger{% endif %}">{{ payment.status }}</span>
                  </td>
                  <td class="text-center">
                    <button type="button" class="update-payments btn btn-sm btn-primary" data-id="{% url 'dashboard:update-payment' payment.pk customer.pk %}">
                      <span class="fa fa-pen"></span>
                    </button>
                    <button type="button" class="delete-payments btn btn-sm btn-danger" data-id="{% url 'dashboard:delete-payment' payment.pk customer.pk %}">
                      <span class="fa fa-trash"></span>
                    </button>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  {% endif %}
{% endblock content %}

{% block sub_extra_script %}
  <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
  <script src="{% static 'plugins/jquery.bootstrap.modal.forms.min.js' %}"></script>
  <script>
    $(function () {
      $('#earnings-table').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
      });
      $('#payments-table').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
      });

      // Update balance buttons
      $(".update-balance").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Create earnings button
      $(".create-earnings").modalForm({formURL: "{% url 'dashboard:create-earning' slug=customer.pk %}"});
      // Update earnings buttons
      $(".update-earnings").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
      // Delete earnings buttons
      $(".delete-earnings").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Create payments button
      $(".create-payments").modalForm({formURL: "{% url 'dashboard:create-payment' slug=customer.pk %}"});
      // Update payments buttons
      $(".update-payments").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
      // Delete payments buttons
      $(".delete-payments").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
    });
  </script>

  {% for message in messages %}
    {% if message.tags == "info" %}
        <script> toastr.info('{{message}}')</script>
    {% elif message.tags == "error" %}
        <script> toastr.error('{{message}}')</script>
    {% elif message.tags == "warning" %}
        <script> toastr.warning('{{message}}')</script>
    {% elif message.tags == "success" %}
        <script> toastr.success('{{message}}')</script>
    {% endif %}
  {% endfor %}
{% endblock %}