<div class="sidebar">
  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
    {% if user.is_superuser %}
      <li class="nav-item">
        <a href="{% url 'dashboard:dashboard' %}" class="nav-link{% if active == 'Dashboard' %} active{% endif %}">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>Dashboard</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'dashboard:offers' %}" class="nav-link{% if active == 'Offers' %} active{% endif %}">
          <i class="nav-icon fas fa-flag"></i>
          <p>Offers</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'dashboard:affiliates' %}" class="nav-link{% if active == 'Affiliates' %} active{% endif %}">
          <i class="nav-icon fas fa-user"></i>
          <p>Affiliates</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'dashboard:support-manager' %}" class="nav-link{% if active == 'Support' %} active{% endif %}">
          <i class="nav-icon fas fa-envelope"></i>
          <p>Support</p>
        </a>
      </li>
    {% else %}
      <li class="nav-item">
        <a href="{% url 'dashboard:status' %}" class="nav-link{% if active == 'Status' %} active{% endif %}">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>Status</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'dashboard:smart-links' %}" class="nav-link{% if active == 'Smart Links' %} active{% endif %}">
          <i class="nav-icon fas fa-star"></i>
          <p>Smart Links</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'dashboard:payments' %}" class="nav-link{% if active == 'Payments' %} active{% endif %}">
          <i class="nav-icon fas fa-toolbox"></i>
          <p>Payments</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'dashboard:support' %}" class="nav-link{% if active == 'Support' %} active{% endif %}">
          <i class="nav-icon fas fa-envelope"></i>
          <p>Support</p>
        </a>
      </li>
    {% endif %}

    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>